body {
	background-color: #F8F2F2;
}

.logout {
	top: 20%;
	position: fixed;
	float: right;
	text-align: center;
}

.icon {
	font-size: 30px;
}

.navbar-brand {
	font-size: 30px;
	margin-top: 10px;
}

.navbar-toggle {
	margin-top: 15px;
}

.logo {
	max-width: 85px;
	max-height: 55px;
	margin-top: -20px;
	margin-left: 10px;
}

@media screen and (max-width: 320px){
	.navbar-brand {
	font-size: 25px;
	}

	.icon {
	font-size: 20px;
	}
}

@media screen and (max-width: 780px){

	.logo {
		width: 65px;
		height: 45px;
		margin-top: -15px;
		margin-left: 10px;
	}
}